.section-calculator {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: #474767;
    box-shadow: 0px 4px 31px 25px rgba(0, 0, 0, 0.03);
    border-radius: 24px;

    &__error {
        color: white;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        padding: 10px;
        left: 0;
        top: 0;
        width: 400px;
        position: absolute;
        background-color: #ff0a10;
        text-align: center;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1;
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
    }

    &__fee {
        margin: 50px 0 30px 30px;
    }

    &__btn {
        margin-top: 15px;
    }
}
